.footer-wrapper {
  width: 100%;
  background-color: #1a1e41;
  color: #fff;
  padding: 4rem 0;
}

.footer-wrapper__inner {
  width: 100%;
  background-color: #1a1e41;
  color: #fff;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.footer-wrapper .soical-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
}

.footer-wrapper .soical-icons-wrapper__content {
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.21);
  padding: 8px;
  border-radius: 4px;
}

.footer-wrapper .soical-icons-wrapper__content a {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.footer-wrapper .soical-icons-wrapper__content a svg {
  width: 16px;
}

.footer-wrapper .soical-icons-wrapper__content a i.fab {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  width: 16px;
}

.footer-wrapper .soical-icons-wrapper__content:hover {
  background-color: #fff;
}

.footer-wrapper .soical-icons-wrapper__content:hover a {
  color: #001c38;
}

.footer-wrapper #menu-footer-menu {
  display: flex;
  align-items: flex-start;
}

.footer-wrapper #menu-footer-menu li {
  position: relative;
  padding: 5px 0;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children {
  width: 250px;
  max-width: 250px;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children a {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  cursor: pointer;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu {
  padding: 1rem 0 0;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu li a {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding: 6px 0;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu li a::before {
  content: '';
  background-color: #fff;
  width: 0px;
  height: 1px;
  position: absolute;
  top: 4.5vh;
  left: 0;
  transition: width 0.2s ease-in-out;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu li a:hover {
  color: #fff;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu li a:hover::before {
  width: 100%;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu .address-wrapper__inner {
  cursor: default;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu .address-wrapper__inner #menu-address-title {
  text-decoration: underline;
  padding: 10px 0 0 0;
  cursor: default;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu .address-wrapper__inner #menu-address-text {
  padding: 10px 0 0 0;
  cursor: default;
}

.footer-wrapper #menu-footer-menu li.menu-item-has-children .sub-menu .address-wrapper__inner #location {
  cursor: default;
  text-decoration: underline;
}

.footer-wrapper .payment-icons-wrapper {
  padding: 3rem 0;
}

.footer-wrapper .payment-icons-wrapper .inner {
  width: 259px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.footer-wrapper .payment-icons-wrapper__content {
  width: 40px;
  height: 26px;
  margin: 8px 4px;
}

.footer-wrapper .payment-icons-wrapper__content img {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.footer-wrapper .fivers-footer-info {
  width: 56%;
  margin: auto;
}

.footer-wrapper .fivers-footer-info h3 {
  padding: 1rem 0;
  font-size: 16px;
  list-style: 30px;
  font-weight: 500;
}

.footer-wrapper .fivers-footer-info p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-wrapper .fivers-footer-info pre {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
  letter-spacing: 1px;
}

.footer-wrapper .fivers-footer-info strong {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
}
