.footer-wrapper {
    width: 100%;
    background-color: #1a1e41;
    color: #fff;
    padding: 2rem 0;


    &__inner {
        width: 100%;
        background-color: #1a1e41;
        color: #fff;
        padding: 4rem 0;
        display: flex;
        justify-content: center;

        @include media-breakpoint-down(md) {
            padding: 2rem 0;
            display: block;
        }
    }



    .soical-icons-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 2rem 0;

        @include media-breakpoint-down(md) {
           // display: block;
           padding: 2rem 0;
        }
        
        &__content {
            margin: 0 10px;
            background-color: rgba(255,255,255,.21);
            padding: 8px;
            border-radius: 4px;

            a {
                width: 16px;
                height: 16px;
                cursor: pointer;

                svg {
                    width: 16px;
                }

                i.fab {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    width: 16px;
                }
            }

            &:hover {
                background-color: #fff;

                a {
                    color: #001c38;
                }
            }
        }
    }

    #menu-footer-menu {
    
        display: flex;
        align-items: flex-start;

        @include media-breakpoint-down(md) {
            display: block;
            text-align: center;
        }


        li {
            position: relative;
            padding: 5px 0;

            &.menu-item-has-children {
                width: 250px;
                max-width: 250px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    max-width: 100%;

                }
    
                a {
                    position: relative;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 500;
                    cursor: pointer;
                    // @include media-breakpoint-down(md) {
                    
    
                    //     &::before {
                    //         content: "";
                    //         position: absolute;
                    //         right: -25px;
                    //         top: 24%;
                    //         transition: all 0.2s ease-in-out;
                    //         display: block;
                    //         width: 8px;
                    //         height: 8px;
                    //         border-top: solid 2px #fff;
                    //         border-right: solid 2px #fff;
                    //         -webkit-transform: rotate(135deg);
                    //         transform: rotate(135deg);
                    //     }
                    // }
    
                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
    
                .sub-menu {
                    padding: 1rem 0 0;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
    
                    li {
                        a {
                            position: relative;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 400;
                            padding: 6px 0;

                            &::before {
                                content: '';
                                background-color: #fff;
                                width: 0px;
                                height: 1px;
                                position: absolute;
                                top: 2.5vh;
                                left: 0;
                                transition: width 0.2s ease-in-out;
                            }
                                          
                            &:hover {
                                color: #fff;

                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .address-wrapper {

                        &__inner {
                            cursor: default;

                           #menu-address-title {
                               text-decoration: underline;
                               padding: 10px 0 0 0;
                               cursor: default;
                           } 
                           #menu-address-text {
                               padding: 10px 0 0 0;
                               cursor: default;

                           }
                           #location {
                                cursor: default;
                               text-decoration: underline;
                           }
                        }
                    }
                }
            }
        }
    }

    .payment-icons-wrapper {
        padding: 3rem 0;

        .inner {
            width: 259px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin: auto;
        }
        
        &__content {
            width: 40px;
            height: 26px;
            margin: 8px 4px;

            img {
                width: 100%;
                height: auto;
                min-height: 100%;
            }
        }
    }

    .fivers-footer-info {
        width: 56%;
        margin: auto;

        @include media-breakpoint-down(md) {
            display: none;
            width: 85%;
        }

        h3 {

            padding: 1rem 0;
            font-size: 16px;
            list-style: 30px;
            font-weight: 500;
            @include media-breakpoint-down(md) {
                font-size: 14px;
                
            }
        }
        p {

            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        pre {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            padding: 10px 0;
            letter-spacing: 1px;
        }
        strong {
            font-weight: bold;
            text-decoration: underline;
            letter-spacing: 1px;
        }
    }
}
////////////////////////////////////////
// @include media-breakpoint-down(md) {
//     #menu-footer-menu {
//         .menu-item-has-children {
          

//         }
//         .sub-menu {
//             display: none;
//         }
//     }
// }