.sidebar-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.sidebar-wrapper .sidebar-widgets-wrapper li::marker {
  display: none;
  color: transparent;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search form {
  display: flex;
  align-items: flex-start;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search input::placeholder {
  color: #000;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search input:focus-visible {
  outline: none;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search input[type="submit"] {
  width: 5%;
  border: none;
  background: transparent;
  z-index: 99;
  padding: 0;
  height: 43px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .search .svg-inline--fa {
  position: absolute;
  top: 48px;
  right: 29px;
  transform: translate(50%, -50%);
  font-size: 18px;
  z-index: 999;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .widgettitle {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 29px;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form {
  background: #ffcd07;
  padding: 2rem 10px;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form h3 {
  background-image: url("/src/images/IPhone.jpg");
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form p {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #1a1e41;
  font-family: 'raleway',sans-serif;
  text-transform: capitalize;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input {
  border: none;
  margin: 1rem 0;
  width: 95%;
  padding: 8px;
  background-color: #ffcd07;
  border-bottom: 1px solid #000;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input::placeholder {
  color: #000;
  text-transform: capitalize;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input:active, .sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input:focus {
  border-bottom: 1px solid #38c0bc;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input:focus-visible {
  outline: none;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form input[type="submit"] {
  border: none;
  background-color: transparent;
  width: 5%;
  height: 35px;
  font-size: 0;
  cursor: pointer;
  margin: 0;
}

.sidebar-wrapper .sidebar-widgets-wrapper li .wpcf7-form .svg-inline--fa.fa-caret-right {
  position: absolute;
  top: 84px;
  right: 9px;
  transform: translate(50%, -50%);
  font-size: 33px;
  color: black;
  z-index: 99;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-widgets-wrapper li p a {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 0 2rem 0;
}

.sidebar-wrapper .sidebar-widgets-wrapper li p a img {
  max-width: 100%;
  width: 300px;
  height: 176px;
  min-height: 100%;
}

.sidebar-wrapper .sidebar-widgets-wrapper #menu-social-icon-menu {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar-wrapper .sidebar-widgets-wrapper #menu-social-icon-menu li {
  margin: 0 10px;
}

.sidebar-wrapper .sidebar-widgets-wrapper #menu-social-icon-menu li svg {
  font-size: 22px;
  line-height: 30px;
}

.sidebar-wrapper .sidebar-widgets-wrapper #menu-social-icon-menu li svg:hover {
  color: #38c0bc;
}

.sidebar-post-type-the5ers .post-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}

.sidebar-post-type-the5ers .post-link .post-text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  margin: 0 0 0 10px;
}

.sidebar-post-type-the5ers .post-link:hover {
  color: #38c0bc;
}
