.text-me {
  display: none;
}

.text-me.open {
  background-color: #e3e2e2;
  display: table-row;
  padding: 1rem 0;
}

.text-me.open p {
  padding: 1rem 0;
}

.hidden-col {
  display: none;
}

.hidden-col.active {
  display: table-row;
}
