.tabs-stage {
    position: relative;
    width: 100%;
    padding: 0 0 4rem 0;

    @include media-breakpoint-down(md) {
        #tab-0, 
        #tab-1, 
        #tab-2 {
            overflow-x: scroll;
            overflow-y: hidden;

            table {
                position: relative;
                width: 1100px;
                &::before {
                    content: '';
                    height: 150vh;
                    width: 53px;
                    position: absolute;
                    top: 0;
                    left: -1%;
                    background-color: rgba(0,0,0,0.3);
                    z-index: 9;
                    filter: blur(1.5rem);
                }
            }
        }
    }

    table.price-table {
        border-collapse: collapse;
        width: 100%;
      

        thead {
            background-color: #1a1e41;
            padding: 10px;
            margin: 10px;

            th {
                font-family: "Courier New", Courier, monospace;
                font-size: 26px;
                font-weight: 700;
                color: #ffcd07;
                text-transform: uppercase;
                text-align: center;
                padding: 16px;
            }
      
        }
        tbody {
            tr  {
                .price.lowr {
                    font-size: 15px;
                    line-height: 22px;
                    color: #1a1e41;
                    padding: 10px 15px;
                    font-family: 'Patua One', cursive;
                    font-family: cursive;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .spacer {
                    font-weight: bold;
                }
                .next_lvl {
                    font-weight: bold;
                }
                .fee {
                    font-weight: bold;
                }
                a {
                    background-color: #1a1e41;
                    color: #FFFFFF;
                    padding: 10px 18px;
                    font-size: 12px;
                    font-weight: 700;
                    font-family: "Raleway";
                    text-transform: uppercase;
                    display: inline-block;
                    text-decoration: none;
                }
                td {
                    font-size: 16px;
                    font-weight: 400;
                    color: #000;
                    text-align: center;
                    padding: 16px;
                    .next_lvl {
                        font-weight: bold;
                    }

                    .value {
                        font-size: 20px;
                        line-height: 25px;
                        color: #1a1e41;
                        font-weight: 800;
                    }
                    .duration {
                        font-size: 11px;
                        line-height: 15px;
                        color: #1a1e41;
                        padding: 5px 15px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    .next_lvl.col1 {
                        font-size: 20px;
                        line-height: 25px;
                        color: #1a1e41;
                        font-weight: 800;
                    }
    
                    &:nth-child(1){
                        text-align: left;
                        width: 30%;
                        cursor: pointer;
                        @include media-breakpoint-down(md) {
                            width: 20%;
                        }

                        svg.svg-inline--fa {
                            color: #01D0C5; 
                            transform: rotate(0deg);
                            
                            &.rotate {
                               transform: rotate(90deg);
                            }
                        }
                    }
                    .title-wrap {
                        position: relative;
                    }
                }
        
                &:hover {
                    border-bottom: 1px solid #000;
                    border-top: 1px solid #000;
                }
            }   
        }
        &.aggressicve {
            .price.lowr {
                color: #01D0C5;
            }
        }
        &.all-programs {
            .programs {
                display: flex;
                justify-content: space-between;
                .green {
                    color: #01D0C5;
                }
            }
        }
    }
}



.text-me {
   display: none;


    &.open {
        background-color: #e3e2e2;
        display: table-row;
        padding: 1rem 0;
        p {
            padding: 1rem 0;
        }
    }
}

.hidden-col {
    display: none;

    &.active {
        display: table-row;
    }
}