#evaluation-page.page-wrapper {
    .page-wrapper__banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center, center;
        width: 100%;

        @include media-breakpoint-down(md) {
            height: 32vh;
            background-position: right;
        }

        
        &__content {
            width: 65%;
            margin: auto;
            text-align: left;
            @include media-breakpoint-down(md) {
                width: 100%;
                padding: 10px;
            }

            h1.title {
                color: #fff;
                padding: 16rem 0 2rem 0;
                font-size: 55px;
                line-height: 55px;
                font-weight: 900;
                @include media-breakpoint-down(md) {
                    font-size: 22px;
                    line-height: 29px;
                    padding: 12rem 0 2rem 0;
                }
            }
        }
    }

    .evaluation-page-wrapper {
        padding: 4rem 0;
        width: 100%;
        @include media-breakpoint-down(md) {
            padding: 3rem 10px;
        }

        &__content {
            width: 65%;
            margin: auto;
            text-align: center;
            @include media-breakpoint-down(md) {
                width: 100%;
            }

            h2.title {
                color: #1a1e41;
                font-family: serif;
                font-size: 43px;
                font-weight: 700;
                line-height: 2em;
                padding: 1rem 0 3rem 0;
                @include media-breakpoint-down(md) {
                    font-size: 28px;
                    line-height: 32px;
                }
            }

            .loop-content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                @include media-breakpoint-down(md) {
                    display: block;
                }

                &__inner {
                    width: 48%;
                    margin: 0 2rem;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                        margin: 0;
                    }


                    .image-wrapper {
                        width: 165px;
                        min-height: 200px;
                        margin: auto;
                        padding: 0 0 2rem 0;

                        img {
                            width: 100%;
                            min-height: 100%;
                            height: 100%;
                        }
                    } 
                    h3.title {
                        margin-bottom: 15px;
                        color: #1a1e41;
                        font-family: raleway,Sans-serif;
                        font-size: 24px;
                        font-weight: 700;
                    }
                    p.text {
                        color: #1a1e41;
                        font-family: 'raleway',Sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.8em;
                    }
                }
            }
        }
    }

    .choose_founding_wrapper {
        padding: 4rem 0;

        h3.title {
            text-align: center;
            color: #1a1e41;
            font-family: serif;
            font-size: 43px;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: .035px;
            padding: 0 0 3rem 0;

            @include media-breakpoint-down(md) {
                font-size: 28px;
                line-height: 35px;
            }
        }
    }

    .about-program-wrapper {
        background-color: #1a1e41;
        padding: 4rem 0;


        h3 {
            font-family: serif;
            font-size: 43px;
            font-weight: 700;
            line-height: 2em;
            padding: 1rem 0 3rem 0;
            @include media-breakpoint-down(md) {
                font-size: 28px;
                line-height: 35px;
                padding: 0;
            }
        }
        &__inner {
            width: 65%;
            margin: auto;
            color: #fff;

            @include media-breakpoint-down(md) {
                width: 100%;

            }

            .list-section-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @include media-breakpoint-down(md) {
                    display: block;
                    padding: 0 10px;
                }

                &__inner {
                    width: 40%;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    h3 {
                        font-size: 28px;
                        line-height: 40px;
                        padding: 1rem 0;
                        font-family: serif;
                        @include media-breakpoint-down(md) {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }
                    p {
                        padding: 0 0 3rem 0;
                    }
                }
            }
        }
    }


    .growths-schedule {
        width: 65%;
        margin: auto;
        padding: 4rem 0;

        &__inner {
            h3.title {
                font-family: serif;
                font-size: 43px;
                font-weight: 700;
                line-height: 2em;
                padding: 1rem 0 3rem 0;
            }
        }
    
        .wrapper {
            .tabs {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .tab {
                font-size: 14px;
                background: #fff;
                border: 1px solid #1a1e41;
                color: #1a1e41;
                display: block;
                font-weight: 600;
                padding: 10px 25px;
                width: 165px;
                text-align: center;
                text-decoration: none;
                margin: 1rem;
                cursor: pointer;

                &.active {
                    background-color: #1a1e41;
                    color: #fff;
                    cursor: default;
                }
            }
            .tab_content {
                padding: 4rem 0;
                background-color: green;
            }     
        }
    }
    .reviews-wrapper {
        background-color:#01d0c5;
    }


}


.growth-schedule-wrapper {
    h3.title {
        color: #171d40;
        font-family: patua one,Sans-serif;
        font-size: 36px;
        line-height: 43px;
        font-weight: 800;
        text-align: center;
        padding: 4rem 0;
 
    }
    .tabs {
        width: 100%;
        max-width: 100%;
        .container {
            display: flex;
            .panel {
                position: relative;
                background-color: #1a1e41;
                padding: 8px;
                width: 10%;
                height: 65vh;
                padding: 0 0 3rem 0;
                color: #fff;
                cursor: pointer;
                flex: 0.5;
                margin: 10px;
                -webkit-transition: all 300ms ease-in;
            }
            .panel.active {
                flex: 3;
                width: 100%;
              .inner-tab-wrapper {
                    width: 100%;
              }
              table {
                color:#fff;
                opacity: 1;
                width: 100%;
                text-align: center;
                  tr {
                      th {
                          display: table-cell;
                          font-weight: 800;
                          padding: 8px 0;  
                      }
                      td {
                          padding: 8px 0;
                      }
                  }
              }
            }
            .panel.active-0 {
              background-color: #1a1e41;
              flex: 3;
              width: 100%;
              .inner-tab-wrapper {
                  width: 100%;
              }
              table {
                  color:#fff;
                  opacity: 1;
                  width: 100%;
                  text-align: center;
                  tr {

                    th {
                        display: table-cell;
                        font-weight: 800;
                        padding: 8px 0;  
                    }
                    td {
                        padding: 8px 0;
                    }
                }
              }
            }
        }
    }
    .inner-tab-wrapper {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        padding: 1rem 0 0 0;
    }
    h4 {
        width: 100%;
        table {
            opacity: 0;
            width: 100%;
            tr {
                th {
                    display: table-cell;
                    font-weight: 800;
                    padding: 8px 0;  
                }
                td {
                    padding: 8px 0;
                }
            }
        }
    }
}


// .wrap {
//     margin: 0 auto;
//   }
//   ul.tabs {
//       width: 390px;
//       height: 80px;
//       margin: 0 auto;
//       list-style: none;
//       overflow: hidden;
//     padding: 0;
//   }
//   ul.tabs li {	
//       float: left;
//       width: 130px;
  
    
//   }
//   ul.tabs li a {
//       position: relative;
//       display: block;
//       height: 30px;
//       margin-top: 40px;
//       padding: 10px 0 0 0;
//       font-family: 'Open Sans', sans-serif;
//       font-size: 18px;
//       text-align: center;	
//       text-decoration: none;
//       color: #ffffff;
//       background: #6edeef;
//       -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
//          -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
//               box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
//                   border: 0px solid #000000;
//       -webkit-transition: padding 0.2s ease, margin 0.2s ease;
//          -moz-transition: padding 0.2s ease, margin 0.2s ease;
//            -o-transition: padding 0.2s ease, margin 0.2s ease;
//           -ms-transition: padding 0.2s ease, margin 0.2s ease;
//               transition: padding 0.2s ease, margin 0.2s ease;
//   }
//   .tabs li:first-child a {
//       z-index: 3;
//     -webkit-border-top-left-radius: 8px;
//   -moz-border-radius-topleft: 8px;
//   border-top-left-radius: 8px;
//   }
//   .tabs li:nth-child(2) a {
//       z-index: 2;
//   }
//   .tabs li:last-child a {
//       z-index: 1;
//     -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//          -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//               box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//     -webkit-border-top-right-radius: 8px;
//   -moz-border-radius-topright: 8px;
//   border-top-right-radius: 8px;
//   }
//   ul.tabs li a:hover {
//       margin: 35px 0 0 0;
//       padding: 10px 0 5px 0;
//   }
//   ul.tabs li a.active {
//       margin: 30px 0 0 0;
//       padding: 10px 0 10px 0;
//       background: #545f60;
//       color: #6edeef;
//       /*color: #ff6831;*/
//       z-index: 4;
//       outline: none;
//   }
//   .group:before,
//   .group:after {
//       content: " "; /* 1 */
//       display: table; /* 2 */
//   }
//   .group:after {
//       clear: both;
//   }
//   #content {
//     width: 390px;
//     height: 200px;
//     margin: 0 auto;
//     background: #545f60;
//   -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//             -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//                  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
//     -webkit-border-bottom-right-radius: 8px;
//   -webkit-border-bottom-left-radius: 8px;
//   -moz-border-radius-bottomright: 8px;
//   -moz-border-radius-bottomleft: 8px;
//   border-bottom-right-radius: 8px;
//   border-bottom-left-radius: 8px;
//   }
//   p{
//     font-family: 'Open Sans', sans-serif;
//     padding: 30px 40px;
//     color: #ffffff;
//     line-height: 26px;
//     font-size: 18px;
//     margin: 0;
//   }