.main-wrapper {
    padding: 0 0 6rem 0;
    .top-hero {
        position: relative;
        background-color: $main;
        color: $white;
        padding: 10rem 0 4rem;
        margin: -4px 0 0 0;
        @media (max-width: 991.98px) {
            padding: 4rem 0;
            .row {
                flex-direction: column-reverse;
                padding: 2rem 0 0 0;
            }
        }
        .inner-content {
            margin: 0;
            padding: 0;
            transform: translate(0px, 4rem);
            width: 95%;
            @media (max-width: 767.98px) {
                width: 100%;
            }
            h1.title {
                @include title;
                @media (max-width: 767.98px) {
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
            p.text {
                @include heroText;
                padding: 1.5rem 0 2rem 0;
                @media (max-width: 767.98px) {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
            .buttons-wrapper {
                @include flex-start;
                @media (max-width: 767.98px) {
                    display: block;
                }
                .demo.link-url {
                    margin: 0 2rem 0 0;
                    background: #ffffff;
                    border: 1px solid $white;
                    border-radius: 8px;
                    padding: 23px 36px;
                    color: $main;
                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: $white;
                        border: 1px solid $white;
                        background-color: $main;
                    }
                    @media (max-width: 767.98px) {
                        display: flex;
                        justify-content: center;
                        width: 48%;
                        margin: auto;
                    }
                }
                .sign-free.link-url {
                    font-family: "Gilroy", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: 0.03em;
                    color: #ffffff;
                    border-bottom: 1px solid $white;
                    padding: 0 0 4px 0;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        border-bottom: 0;
                    }
                    @media (max-width: 767.98px) {
                        text-align: center;
                        display: block;
                        width: 40%;
                        margin: 2rem auto;
                    }
                }
            }
        }
        .right-col {
            position: relative;
            .dashboard-wrapper {
                position: absolute;
                top: 1rem;
                right: -9rem;
                @media (max-width: 1600px) {
                    top: 1rem;
                    right: -3rem;
                    img {
                        width: 100%;
                    }
                }
                @media (max-width: 1500px) {
                    top: 1rem;
                    right: 2rem;
                    img {
                        width: 100%;
                    }
                }
                @media (max-width: 1220px) {
                    top: 5rem;
                    right: -1rem;
                }
                @media (max-width: 991.98px) {
                    position: unset;
                }
            }
        }
    }
    .button-background {
        width: 100%;
        min-height: 209px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 767.98px) {
            display: none;
        }
    }
    @media (max-width: 767.98px) {
        .mb-button-background {
            width: 100%;
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: -4px 0 0 0;
        }
    }
}

.key-features {
    h3.title {
        padding: 4rem 0 3rem 0;
        @include h3-title;
    }
    &__wrapper {
        @include flex-center;
        @media (max-width: 767.98px) {
            display: block;
            text-align: center;
        }
        &--box {
            text-align: center;
            padding: 1rem;
            h4 {
                padding: 0 0 2rem 0;
                font-size: 24px;
                font-family: "Gilroy", sans-serif;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: center;
                width: 88%;
                margin: auto;
                min-height: 96px;
                @media (max-width: 767.98px) {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
            p {
                @include paragraph;
                @media (max-width: 767.98px) {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }
    }
}

.contact-form {
    h3.title {
        padding: 4rem 0 3rem 0;
        @include h3-title;
        @media (max-width: 767.98px) {
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    .js-form {
        width: 95%;
        margin: auto;
        max-width: 800px;
        padding: 1rem 1.5rem;
        background: #ffffff;
        box-shadow: 0px 50px 90px -16px rgba(25, 20, 51, 0.1);
        border-radius: 8px;
        @media (max-width: 767.98px) {
            box-shadow: none;
            width: 100%;
        }
        .inner-from {
            @include flex-wrap-between;
            @media (max-width: 767.98px) {
                display: block;
            }
            .form-group {
                width: 48%;
                margin: 6px 0;
                @media (max-width: 767.98px) {
                    width: 100%;
                    margin: 1rem 0;
                }
                input {
                    @include input;
                    cursor: pointer;
                    &::placeholder {
                        font-family: "Gilroy", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #706a80;
                    }
                    &:focus {
                        outline: 0;
                    }
                    &:hover {
                        border-color: $main;
                    }
                }
                &.input-control input:focus {
                    outline: 0;
                }
                &.input-control.success input {
                    border-color: $success;
                }
                &.input-control.error input {
                    border-color: $error_msg;
                }
                .error {
                    @include errorInput;
                }
            }
        }
        .form-group {
            position: relative;
            width: 100%;
            margin: 6px 0;
            @media (max-width: 767.98px) {
                margin: 1rem 0;
            }
            select {
                @include select;
                cursor: pointer;
                &:hover {
                    border-color: $main;
                }
            }
            .error {
                @include errorInput;
            }
            &.dropdown {
                &::after {
                    @include customSelectArrow;
                    @media (max-width: 767.98px) {
                        top: 1.5rem;
                        right: 20px;
                    }
                }
            }
            &.input-control input:focus {
                outline: 0;
            }
            &.input-control.success select,
            input {
                border-color: $success;
            }
            &.input-control.error select,
            input {
                border-color: $error_msg;
            }
        }
        .submit-button {
            position: relative;
            padding: 1.5rem 0;
            text-align: center;
            .js-trigger {
                @include submitFormButton;
                @media (max-width: 767.98px) {
                    width: 100%;
                }
                &:hover {
                    border: 1px solid #220d4e;
                    color: #220d4e;
                    background-color: $white;
                }
            }
        }
    }
}