.post-wrapper .post-type-main-wrapper {
  width: 65%;
  margin: auto;
  padding: 4rem 0;
}

.post-wrapper .post-type-main-wrapper .content-blog {
  width: 90%;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box {
  border-bottom: 1px solid #ffcd07;
  border-top: 1px solid #ffcd07;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .cat-and-time {
  padding: 1rem 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .date, .post-wrapper .post-type-main-wrapper .content-blog .small-box .time {
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
  padding: 0 10px;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .date:nth-child(1), .post-wrapper .post-type-main-wrapper .content-blog .small-box .time:nth-child(1) {
  padding: 0 0 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .category {
  padding: 0 10px;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .category a {
  border: 1px solid #b9b3b3;
  padding: 3px 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  transform: all 0.2s ease;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .category a:hover {
  background-color: #b9b3b3;
  color: #fff;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .tags {
  padding: 0 0 1rem 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .tags a {
  border: 1px solid #01d0c6;
  color: #171d40;
  padding: 2px 6px;
  margin: 0 4px;
  white-space: nowrap;
  border-radius: 3px;
  transform: all 0.2s ease;
}

.post-wrapper .post-type-main-wrapper .content-blog .small-box .tags a:hover {
  background-color: #01d0c6;
  color: #fff;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-blog__title {
  font-size: 30px;
  color: #1a1e41;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: 'raleway',sans-serif;
}

.post-wrapper .post-type-main-wrapper .content-blog .post-content__img {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 3rem 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .post-content__img img {
  width: 100%;
  max-width: 100%;
  min-height: auto;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper h2 {
  font-family: 'raleway',sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 33px;
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper a {
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper b {
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper strong {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  padding: 10px 0;
}

.post-wrapper .post-type-main-wrapper .content-blog .content-post-wrapper strong a {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #0000ff;
}

.post-wrapper .post-type-main-wrapper .related-posts {
  padding: 3rem 0;
}

.post-wrapper .post-type-main-wrapper .related-posts .widget-title {
  font-size: 30px;
  color: #1a1e41;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: "raleway", sans-serif;
}

.post-wrapper .post-type-main-wrapper .related-posts .related-posts-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.post-wrapper .post-type-main-wrapper .related-posts .related-posts-list li {
  width: 30%;
  margin: 2rem 10px;
}

.post-wrapper .post-type-main-wrapper .related-posts .related-posts-list li a {
  font-size: 20px;
  color: #1a1e41;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "raleway", sans-serif;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.post-wrapper .post-type-main-wrapper .related-posts .related-posts-list li:hover a {
  color: #695f5f;
  text-decoration: underline;
}

.post-wrapper .post-type-main-wrapper ul.post-type-list-names {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 4rem 0;
  align-items: center;
}

.post-wrapper .post-type-main-wrapper ul.post-type-list-names .item a {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
}

.post-wrapper .post-type-main-wrapper ul.post-type-list-names .item a:hover {
  color: #38c0bc;
}

.post-wrapper .post-type-main-wrapper ul.post-type-list-names .item.selected {
  color: #38c0bc;
  padding: 10px 20px;
  border: 1px solid #38c0bc;
}

.post-wrapper .post-type-main-wrapper ul.post-type-list-names .item:hover {
  color: #38c0bc;
}
