#timeline-page.page-wrapper {
    .page-wrapper__banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      
        @include media-breakpoint-down(md) {
            background-position: right;
            height: 30vh;
            margin: 4rem 0 0 0;
            padding: 0 10px;
        }

        &__content {
            width: 65%;
            margin: auto;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
            h1.title {
                padding: 16rem 0 2rem 0;
                font-size: 55px;
                line-height: 55px;
                font-weight: 900;
                color: #fff;
                @include media-breakpoint-down(md) {
                    font-size: 22px;
                    line-height: 29px;
                    padding: 8rem 10px 0 0 ;
                }
            }
            p.option-text-under-title {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                padding: 10px 0;

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 24px;
                    padding: 1rem 2rem 0 0;
                }
            }
        }
    }

    .timeline-wrapper {
        position: relative;
        padding: 4rem 0;

        @include media-breakpoint-down(md) {
            padding: 0 6px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 49.5vw;
            right: 0;
            top: -12%;
            bottom: 0;
            width: 6px;
            height: 90%;
            transform: translate(-23%, 17%);
            background-color: #adadad;

            @include media-breakpoint-down(md) {
                left: 11vw;
                right: 0;
                top: -16%;
                height: 95%;
            }
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 65%;
            margin: 4rem auto;

            @include media-breakpoint-down(md) {
                width: 100%;
                justify-content: center;
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;

                .date-wrapper {
                    text-align: right;
                }

                .message-box {
                    &::before {
                        content: '';
                        position: absolute;
                        top : 30px;
                        right: 0;
                        left: -15px;
                        width: 30px;
                        height: 27px;
                        border-right: solid 13px #1a1e41;
                        border-bottom: solid 13px transparent;
                        border-top: solid 13px transparent;
                        transform: translate(-50%,-50%);
                    }
                }
            }

            &:nth-child(even) {

                @include media-breakpoint-down(md) {
                    flex-direction: row-reverse;
                }
                .message-box {
                    &::before {
                        content: '';
                        position: absolute;
                        top : 30px;
                        right: -45px;
                        width: 30px;
                        height: 27px;
                        border-left: solid 13px #1a1e41;
                        border-bottom: solid 13px transparent;
                        border-top: solid 13px transparent;
                        transform: translate(-50%,-50%);

                        @include media-breakpoint-down(md) {
                            right: 0;
                            left: -15px;
                            border-right: solid 13px #1a1e41;
                        }
                    }
                }
            }

            .message-box {
                position: relative;
                background-color: #1a1e41;
                width: 45%;
                padding: 2rem;
                
                @include media-breakpoint-down(md) {
                    width: 75%;
                }

                h3 {
                    a {
                        color: #ffcd07;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 35px;
                        padding: 0 0 1rem 0;

                        @include media-breakpoint-down(md) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }
                .bdt-timeline-excerpt {
                    width: 70%;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                    p {
                        color: #f2f2f2;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        margin-top: 20px; 
                    }
                }
            }

            .icon-wrapper {
                position: relative;
                width: 10%;
                z-index: 9;
                @include media-breakpoint-down(md) {
                    width: 20%;
                }
                .img-g {
                    background-color: #adadad;
                    height: 60px;
                    width: 60px;
                    border: 2px solid #adadad;
                    border-radius: 50%;
                    margin: auto;
                    @include media-breakpoint-down(md) {
                        margin: 0;
                    }
                }
                
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    right: 0;
                    transform: translate(-50%,-50%);
                    width: 39px;
                    height: 39px;
                    @include media-breakpoint-down(md) {
                        left: 39%;
                    }
                }
            }

            .date-wrapper {
                width: 45%;
                @include media-breakpoint-down(md) {
                    display: none;
                }
           

                p {
                    background-color: #1a1e41;
                    color: #fff;
                    padding: 13px;
                    border-radius: 25px 25px 25px 25px;
                    overflow: hidden;
                    display: inline-block;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    padding: 10px 20px;
                }
            }
        }
    }

}