#why-us-page.page-wrapper {

    .page-wrapper__banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 55vh;
        @include media-breakpoint-down(md) {
            background-position: right;
            height: 30vh;
        }

        &__content {
            width: 65%;
            margin: auto;

            h1.title {
                padding: 16rem 0 0 0;
                font-size: 55px;
                line-height: 44px;
                font-weight: 900;
                @include media-breakpoint-down(md) {
                    font-size: 22px;
                    line-height: 29px;
                    padding: 12rem 0 0 0;
                }
            }
        }
    }

    .page-wrapper__content {
        width: 65%;
        margin: auto;
        text-align: left;
        border-bottom: 1px solid rgba(0,0,0, 0.4);
        
        h3.title {
            color: #171d40;
            font-size: 35px;
            line-height: 45px;
            font-weight: 800;
            width: 65%;
            text-align: left;
            padding: 3rem 0;
        }
        .sub {
            color: #171d40;
            font-size: 35px;
            line-height: 45px;
            font-weight: 800;

            width: 70%;
            text-align: left;
            padding: 3rem 0;

        }
    }


    .global-accordion {
        padding: 4rem 0;

        .funded-wrapper__content {
            width: 65%;
            margin: auto;
            text-align: center;
    
            h3.title {
                color: #01d0c5;
                font-family: patua one,Sans-serif;
                font-size: 36px;
                line-height: 42px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .035px;
                padding: 0 0 1rem 0;
                @include media-breakpoint-down(md) {
                    font-size:  30px;
                    line-height: 36px;
                }
            }
            
            h4 {
                color: #1a1e41;
                font-family: raleway,Sans-serif;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .035px;
                padding: 8px 0 2rem 0;
                line-height: 29px;
    
                @include media-breakpoint-down(md) {
                    font-size: 20px;
                    line-height: 27px;
                }
            }
    }


        .accordion-container {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 60%;
            margin: 10px auto;
    
            @include media-breakpoint-down(md) {
                width: 100%;
                display: block;
    
            }
        
            .accordion-container > h2{
                text-align: center;
                color: #1a1e41;
                padding-bottom: 5px;
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
        
            .set{
                position: relative;
                width: 50%;
                height: auto;
    
            }
        
            .set > a {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                color: #1a1e41;
                font-weight: 600;
                text-transform: uppercase;
                -webkit-transition:all 0.2s linear;
                -moz-transition:all 0.2s linear;
                transition:all 0.2s linear;
            }
        
            .fa-minus {
                display: none;
            }
        
            .active {
              .fa-plus {
                  color: #1a1e41;
                  display: none;
              }
              .fa-minus {
                color: #1a1e41;
                  display: inline-block;
              }
            }
            
            .content {
                background-color: rgb(243, 242, 242);
                display:none;
                text-align: left;
                p {
                    padding: 10px 15px;
                    margin: 0;
                   color: #1a1e41;
                }
            }
        }
    }

    .ready-to-trade {
        padding: 4rem 0;
        background-color: #01d0c573;

        &__inner {
            text-align: center;
            width: 65%;
            margin: auto;

            h3 {
                color: #171d40;
                font-size: 36px;
                font-weight: 800;
                line-height: 45px;
                padding: 0 0 2rem 0;
            }

            .url-btn-wrapper {
              .btn.btn-warning {
                  font-size: 20px;
                  line-height: 28px;
                  font-weight: 700;
                  padding: 10px 40px;
              }  
            }
        }
    }
}